.checkout {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: space-between; /* Separates left & right */
  align-items: flex-start;
  padding: 20px;
  height: 100vh; /* Full screen height */
}

.scroll-bar{
  width: 75%;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #333;
}

.items{
  background-color: #f9f9f9;
}

.item-container{
  display:flex;
  flex-direction: column;
  padding: 10px;
}

.item-block {
  display: flex;
  text-align: left;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.details-box{
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  transition: max-height 0.4s ease-in-out, padding 0.3s ease-in-out;
  visibility: hidden;
}

.details-box.show{
  max-height: 50px;
  padding: 10px;
  visibility: visible;
}

.toggle-btn{
  display: flex;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-btn.green {
  background-color: lightgreen;
}